.container {
  width: 100%;
    background: #f3f6f9;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 84px;
  font-size: 20px;
  color: #3d035d;
  margin-bottom: 56px;
}

.navbar p {
  height: 4px;
  width: 60px;
  background: red;
  margin: 10px;
}

.founder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder-list,
.founder-list1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 50%;
}

.founder-list img,
.founder-list1 img {
  width: 188px;
  height: 188px;
  object-fit: cover;
}

.list {
  font-size: 18px;
  line-height: 32px;
  margin-left: 30px;
}

.list span {
  color: #3d035d;
  font-weight: bold;
}

.services {
  margin-top: 46px;
  display: flex;
  justify-content: center;
}

.services-list {
  height: 348px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.icons {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons h1 {
  font-size: 48px;
  color: white;
}

.icons p {
  height: 4px;
  width: 30px;
  margin: 10px;
  background-color: white;
}

.icons h3 {
  font-weight: 500;
}

.icons h4 {
  font-weight: 300;
}

@media (max-width: 1350px) {
  .list {
    font-size: 16px;
    line-height: 30px;
  }
  .icons {
    font-size: 22px;
  }
  .icons h1 {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .navbar{
    margin-bottom: 34px;
  }
  .founder {
    flex-direction: column;
  }

  .founder-list {
    width: 100%;
    padding: 20px;
    margin-right: 80px;
  }

  .founder-list1 {
    width: 100%;
    padding: 20px;
  }
  .founder-list img,
  .founder-list1 img {
    width: 140px;
    height: 140px;
  }

  .icons {
    font-size: 18px;
  }

  .list {
    font-size: 16px;
    margin-left: 20px;
  }

  .services-list {
    flex-wrap: wrap;
    height: auto;
    padding: 56px 0px;
  }
}

@media (max-width: 800px) {
  .navbar {
    font-size: 18px;
    padding-top: 66px;
      margin-bottom: 20px;
  }

  .icons h1 {
    font-size: 36px;
  }

  .icons {
    font-size: 16px;
    margin: 10px;
  }
}

@media (max-width: 550px) {
  .navbar {
    font-size: 12px;
    padding-top: 64px;
      margin-bottom: 12px;
  }

  .navbar p {
    width: 28px;
    height: 3px;
  }
  .list {
    font-size: 14px;
    line-height:26px;
  }
  .founder-list {
    flex-direction: column;
    margin-right: 0px;
  }

  .founder-list1 {
    flex-direction: column;
  }
  .list {
    margin-left: 0;
    margin-top: 10px;
    text-align: start;
  }

  .icons {
    font-size: 12px;
    margin: 10px;
  }

  .icons h1 {
    font-size: 32px;
  }

  .icons h4 {
    font-size: 14px;
  }
}
