.contact-wrapper {
  background: url(../../assets/banner/banner-contact.webp) no-repeat center;
  background-size: cover;
  padding: 80px 20px 58px;
  min-height: 100vh;
}

.contact-hero {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px;
  color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.3); */
  padding: 20px 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.contact-hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #6c4e95;
}

.contact-hero p {
  font-size: 1.1rem;
  color: #413e3e;
  line-height: 1.6;
}

.contact-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.contact-card {
  background-color: #ffffffdd;
  padding: 30px;
  border-radius: 15px;
  flex: 1;
  min-width: 320px;
  max-width: 620px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.contact-card h2 {
  color: #012b53;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
}

.contact-form button {
  background-color: #012b53;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #034c8c;
}

.map-container {
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .contact-wrapper {
    padding: 68px 20px 58px;
  }
  .contact-hero h1 {
    font-size: 36px;
  }
  .contact-hero p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .contact-card-container {
    gap: 38px;
  }
  
  .contact-card {
    padding: 26px;
  }
  .contact-card p{
   font-size: 14.6px;
  }
  
  .contact-card h2 {
    margin-bottom: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: inherit;
  }
  
  .contact-form button {
    padding: 10px 25px;
  }
  .map-container {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .contact-wrapper {
    padding: 62px 20px 58px;
  }
  .contact-hero h1 {
    font-size: 30px;
  }
  .contact-card-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contact-hero p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  
  .contact-card {
    padding: 26px;
    min-width: 300px;
    max-width: 420px;
  }
  .contact-card p{
   font-size: 14px;
  }
  
  .contact-card h2 {
    margin-bottom: 12px;
    font-size: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12.6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: inherit;
  }
  
  .contact-form button {
    padding: 10px 25px;
  }
  .map-container {
    margin-top: 20px;
  }
}
