*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
}
body{
  height: 100%;
  width: 100%; 
}

.main{
  height: 100%;
  width: 100%;
}
.nav{
  height: 90px;
  border-bottom: 2px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw ;
}
.nav-part2{
  display: flex;
  align-items: center;
  gap: 1.8vw;
}
.nav img{
  height: 6.8vw;
  width: 16.6vw;
}
.nav h4{
 font-size:1.8vw;
 font-weight: 400;
 cursor: pointer;
 /* transition: all 0.5s; */
}
.nav h4:hover{
  color: #a642db;
}
.nav button{
  height: 3vw;
  width: 6vw;
font-size: 1.4vw;
/* padding: 0.7vw 1.4vw; */
background-color: #805695;
color: white;
border-radius: 5px;
font-weight: 600;
border: none;
cursor: pointer;
transition: all 0.5s;
}
.nav button:hover{
  background-color:#37474f;
}

.nav i{
font-size: 1.8vw;
  font-weight: 800;
  display: none;
}
.contant{
  width: 100%;
  padding-bottom: 5.8vw;
  display: flex;
  background-color:rgb(235, 231, 238);
}
.left{
  height: 100%;
  width: 50%;
  /* background: blue; */
  margin: 80px 4vw 0 4vw;
}
.right{
  height: 100%;
  width: 50%;
  /* background: yellow; */
}
.left h1{
  font-size: 3vw;
  line-height: 3vw;
}
.left h1 span{
  color: #ce73ff;
}
.left p{
  font-size: 1.2vw;
  font-weight: 600;
  width: 80%;
  margin-top: 1.5vw;
  margin-bottom: 3vw;
}
.contant button{
font-size: 1.6vw;
height: 4.4vw;
width: 12vw;
/* padding: 1.1vw 2.1vw; */
background-color: #37474F;
color: white;
border: none;
border-radius: 5px;
font-weight: 600;
transition: ease-in-out 0.5s;
}
.contant button:hover{
  background-color: #9e6bb8;
  color: black;
}
.right img{
  margin-top: 8vw;
height: 50vh;
width: 90%;
}
/*    Services    */
.container{
  height: 100%;
  width: 100%;
  /* background-color: green; */

}
 .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vw;
  font-size: 2vw;
  color: #3d035d;
 }
 .navbar p{
  height: 0.4vh;
  width: 10vw;
  background: red;
  margin: 2vw;
 }

.founder{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */

 }
.founder-list{
    height: 80%;
    width:40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
/* background-color: green;  */
}
.founder-list img{
  height: 15vw;
  width: 15vw;

}


.list{
  font-size: 1.5vw;
  line-height: 2vw;
  margin: 0 0 0 2.5vw;

}
.list span{
  color:  #3d035d;
  font-weight: bold;
}

.services{
  /* height: 40vh; */
  width:auto;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-list{
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
  background-image: url("../public/image/2018-02-07-3.jpg");
  color: white;
}
.icons{
  font-size: 1.8vw;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
/* background-color: #805695; */
}
.icons h1{
font-size: 4.8vw;
color: white;
}
.icons p{
  height: 0.5vh;
  width: 2vw;
  margin: 1vw;
  background-color: white;
}
.icons h3{
  font-weight: 500;
}
.icons h4{
font-weight: 300;
}


/*     COMPUS     */

.compus{

  height: 100%;
  width: 100%;
  background: #d7dee4;
  padding: 2vw 0;
}
.compus-data{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(119, 227, 119); */
  padding: 2vw;
}
.compus-data h1{
color:#013269;
 font-size: 3.2vw; 
 }
 .compus-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }
.list-item{
  height: 42vw;
  width: 32.3vw;
  /* height: 450px; */
  /* width: 346px;  */
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid blueviolet;
  background-color: #becbdb;
}
.list-item h1{
  color: #3d035d;
  font-size: 2.4vw;
  margin-top: 1vw;
}

.list-item p{
  margin: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.4vw;
}

.list-item img{
  height: 48vh;
  width: 32.1vw;
}

/* footer section */
.footer{
height: 100%;
width: 100%;
background-color:#5e6773;
padding: 1vw 0;
}
.section_1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2vw 4vw;
}
.logo img{
  height: 8.8vw;
  width: 30vw;
}
.courses ul{
 display: flex;
 gap: 3vw;
 list-style: none;
 font-size: 30px;
 padding: 0 7vw 0 0 ;
}
.courses ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4vw;
  height: 4.2vw;
  width: 4.2vw;
  border: 2px solid #0a0420;
  border-radius: 100%;
  background-color:rgb(23, 5, 104);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  color: white;
  
}
.courses ul li:hover{
  color: darkblue;
  transform: scale(1.2);
  background-color: red;
}
.section_2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 2vw 4.8vw;
  color: rgb(255, 255, 255);
}
.icon-list ul{
  list-style: none;
  font-size: 1.5vw;
  line-height: 2.5vw;
}


@media (max-width: 600px) {
body{
  height: 100%;
  width: 100%; 
}

/* .main{
  height: 100%;
  width: 100%;
} */
.nav{
  height:16vw;
  border-bottom: 2px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw ;
}
.nav img{
  height: 50px;
  width: 180px;
}
.nav h4{
  font-size: 4vw;
  display: none;
}
.nav button{
 height: 6vw;
 width: 15vw;
 font-size: 3vw;

}
.nav i{
display: block;
font-size: 5vw;

}
.icon{
  position: relative;
  
}
.inerIcon div:hover {
 cursor: pointer;
 background-color: rgba(3, 0, 0, 0.308);
border-radius: 5px;
color:white;
}
.inerIcon {
 height: 60vw;
 width: 50vw;
 color: rgb(235, 234, 241);
 margin: 4.6vw 22vw;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 position: absolute;
 background-color: #7f5594ec;
 border: 1px solid grey;
 text-align:justify ;
 right: 2px;
 padding: 10px 20px;
 border-radius: 6px;
 font-size: 5vw;
 font-weight: 500;
}
.contant{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:rgb(235, 231, 238);
}
.left{
  height: 100%;
  margin-top:4vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left h1{
  font-size: 5vw;
  line-height: 6vw;
  padding:3vw 4vw;
}
.left h1 span{
  color: #D590F9;
}
.left p{
  font-size: 3.5vw;
  line-height: 4vw;
  font-weight: 600;
  width: 80%;
  margin-top: 3vw;
  margin-bottom: 5vw;
}
.contant button{
  height: 6.8vw;
  width: 22vw;
font-size: 3.5vw;
background-color: #37474F;
color: white;
border: none;
border-radius: 5px;
font-weight: 600;
}
.right{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right img{
  margin-top: 8vw;
height: 40vw;
width: 90%;
}
/*    Services    */
.container{
  height: 100%;
  width: 100%;
  /* background-color: green; */

}
 .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  font-size: 3.4vw;
  color: #3d035d;
 }
 .navbar p{
  height: 0.5vw;
  width: 10vw;
  background: red;
  margin: 2vw;
 }
.founder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4.6vw;
  /* background-color: red; */
  
 }
.founder-list{
  height: 100%;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4vw;
}
.founder-list img{
  height: 40vw;
  width: 35vw;
}
.list{
  font-size: 3.2vw;
  line-height: 5.2vw;
  list-style: none;

}
.list span{
  color:  #3d035d;
  font-weight: bold;
}

.services{
  /* height: 40vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-list{
  height: 50vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../public/image/2018-02-07-3.jpg");
  color: white;
}
.icons{
  font-size: 3vw;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
/* background-color: #805695; */
}
.icons h1{
font-size: 6.6vw;
color: white;
}
.icons p{
  height: 0.4vw;
  width: 3.6vw;
  margin: 1.4vw;
  background-color: white;
}
.icons h4{
font-weight: 300;
font-size: 3.2vw;
}

/*     COMPUS     */
.compus{
  height: 100%;
  width: 100%;
  background: #d7dee4;
  padding: 2vw 0;
}
.compus-data{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(119, 227, 119); */
  padding: 2vw;
}
.compus-data h1{
color:#013269;
 font-size: 5.4vw; 
 }
 .compus-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
 }
.list-item{
  height: 64vw;
  width: 50vw;
  /* height: 450px; */
  /* width: 346px;  */
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid blueviolet;
  background-color: #becbdb;
}
.list-item h1{
  color: #3d035d;
  font-size: 3.8vw;
  margin-top: 1.4vw;
}

.list-item p{
  margin: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2.5vw;
}

.list-item img{
  height:36vw;
  width: 49.4vw;
}

/* footer section */
.footer{
height: 100%;
width: 100%;
background-color:#5e6773;
}
.section_1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* padding:2vw 4vw; */
}
.logo img{
  height: 20vw;
  width: 56vw;
}

.section_2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(255, 255, 255);

  padding: 0;
}
.icon-list ul{
  list-style: none;
  font-size: 3vw;
  line-height: 4.2vw;
  margin-bottom: 4.2vw;

}
.courses{
  height: 14vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */

 }
 .courses ul{
padding: 0;
display: flex;
align-items: center;
justify-content: space-between;
 }
}
